/* css reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    height: 10vh;
}

nav {
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;

}

/* homepage */


.background {
    width: 100%;
    height: 100vh;
    background-image: url("../img/backgroundhomepage.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.homepage-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20vh;

    a {
        margin-top: 10vh;
        background-color: rgb(255, 84, 82);
        color: white;
        text-decoration: none;
        padding: 10px;
        border-radius:5px;
    }

    a:visited {
        text-decoration: none;
    }

    a:hover {
        background-color: rgb(149, 49, 48);
    }
}

/* pagina pizze */
.card-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 10px;
    margin-bottom: 20px;

    img {
        width: 150px;
        height: 120px;
    }
}

.card-body {
    padding: 10px;
}

.card-body:hover {
    box-shadow: rgba(0, 0, 0, 1) 0px 5px 15px;
}

.background-esteso {
    width: 100%;
    height: 100%;
    background-image: url("../img/backgroundhomepage.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.card-body .link-container {
    display: flex;
    gap: 2px;


    a{
        color: white;
        background-color: rgb(255, 84, 82);
        text-decoration: none;
        border: 1px, solid, rgb(255, 84, 82);
        text-align: center;
        border-radius: 5px;
    }

    button{
        width: 50px;
        height: 100%;
        background-color: rgb(255, 84, 82);
        color:white;
        border:none;
        font-size: larger;
        border-radius: 5px;
    }

    a:hover, button:hover{
        background-color: rgb(149, 49, 48);
    }
}

/* pagina dettaglio delle pizze */

.container-pagina-singola {
    width: 100%;
    height: 100vh;
}

.singola-pizza-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h2 {
        color: white;
        margin: 6vh 0;
    }

    img {
        width: 650px;
        height: 420px;
    }

    p {
        color: rgb(149, 49, 48);
        font-weight: 800;
        text-transform: uppercase;
    }

    a {
        color: white;
        background-color: rgb(255, 84, 82);
        text-decoration: none;
        border: 1px, solid, rgb(255, 84, 82);
        text-align: center;
        border-radius: 5px;
        padding: 10px
    }

    a:hover{
        background-color: rgb(149, 49, 48);
    }
}

/* create pagina */
.create-container {
    width: 100%;
    height: 90vh;
}

.form-container {
    margin-top:10vh;
    width: 100%;
    display: flex;
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* text-align: center; */

    label{
        margin: 10px 0;
        padding:5px;
        background-color: rgb(255, 84, 82);
        border-radius: 5px;
        color:white;
    }

    input:focus, textarea:focus{
        border-color: rgb(255, 84, 82);
        outline:none;
        box-shadow: 0 0 5px rgba(255, 84, 82, 0.8);
    }

    .button-center{
        width: 100%;
        margin-top: 20px;
        padding:5px;
        background-color: rgb(255, 84, 82);
        border:none;
        color:white;
        border-radius:5px;
    }

    button:hover{
        background-color: rgb(149, 49, 48);
    }
}