<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Le nostre Pizze</title>
    <th:block th:insert="~{fragments/common.html :: style}"></th:block>
</head>

<body class="background-esteso container-pagina-singola">
    <th:block th:insert="~{fragments/common.html :: navbar}" />
    <div class="container">
        <h2 class="text-center text-white text-uppercase mt-5 mb-5">Le nostre Offerte!</h2>
        <div class="container card-container">
            <div class="card" th:each="deal : ${deals}" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title" th:text="${deal.title}"></h5>
                    <p th:text="|Pizza in offerta: ${deal.pizza.name}|" />
                    <p class="card-text" th:text="${#temporals.format(deal.startDate, 'EEEE, dd MMMM yyyy')}"></p>
                    <p class="card-text" th:text="${#temporals.format(deal.endDate, 'EEEE, dd MMMM yyyy')}"></p>
                    <p class="card-text" th:text="${deal.descrizione}"></p>
                </div>
            </div>
        </div>
    </div>

    </body>

</html>