<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Deal</title>
    <th:block th:insert="~{fragments/common.html :: style}"></th:block>
</head>

<body>
    <div class="background-esteso">
        <th:block th:insert="~{fragments/common.html :: navbar}"></th:block>
        <div class="create-container">
            <div class="form-container">
                <form id="pizza-form" th:object="${deal}" th:action="@{/deals/update/{id}(id=${deal.id})}" method="post">
                    <th:block>
                        <th:block th:if="${#fields.allErrors()}">
                            <ul class="error-info">
                                <li th:each="err : ${#fields.allErrors()}" th:text="${err}"></li>
                            </ul>
                        </th:block>
                        <input type="hidden" th:field="*{pizza.id}">
                    </th:block>
                    <div class="form-group text-center">
                        <div class="d-flex flex-column">
                            <label for="title">Titolo dell'offerta</label>
                            <input class="form-control" type="text" id="titolo" th:field="*{title}">
                            <label for="data">Data inizio offerta:</label>
                            <input type="date" th:field="*{startDate}" />
                            <label for="data">Data inizio offerta:</label>
                            <input type="date" th:field="*{endDate}">
                            <label for="descrizione">Descrizione dell'offerta</label>
                            <textarea name="desrizione" id="descrizione" th:field="*{descrizione}"></textarea>
                        </div>
                        <button class="button-center" type="submit">Salva Offerta</button>
                </form>
            </div>
        </div>
    </div>
</body>

</html>